body {
    background-image: linear-gradient(45deg, rgb(131, 255, 131), rgb(156, 156, 255));
    height: 100vh;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    min-width: 300px;
    margin: auto;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    border: 1px solid lightgray;
}

.headerPanel {
    flex:0.5;
    background-image: linear-gradient(180deg, lightgray, gray);
    padding:5px;
}

.scrollContainer {
    overflow-y: scroll;
    flex:12;
    border-top: 1px solid lightgray;
}

.header {
    width: 100%;
    font-size: 26px;
    color:rgb(55, 55, 55);
    font-weight: bold;
    text-align: center;
}

#searchBar {
    padding-top:10px;
    display: none;
    margin: 5px;
    border-top: 1px solid lightgray;
}

#nouvellesList {
    width: 100%;
    padding: 10px;
    text-align: center;
}

.favicon {
    height: 24px;
    margin: 8px;
}

.headerLayout {
    display: grid;
    grid-template-columns: 50px auto 35px 35px;
    align-items: center;

}


.nouvelleLayout {
    border-radius: 8px;
}



.littleMargin{
    margin: 4px;
}
.cmd {
    cursor: pointer;
    font-size: 30px !important;
    font-weight: bold;
    color: blue;
    text-align: center;
}

.cmd:hover {
    color: rgb(2, 166, 221);
}

.cmd:active {
    color: lightblue;
}

label {
    margin-top: 15px;
    margin-bottom: 5px;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.nouvelleImage{
    max-width: 90%;
}
.title{
    font-size: calc(1.325rem + .9vw);
    font-weight: 500;
}
/*https://codepen.io/beedaan/pen/JWNWXa*/
  .textModule p.collapse[aria-expanded="false"] {
      display: block;
      height: 40px !important;
      overflow: hidden;
  }
  
  .textModule p.collapsing[aria-expanded="false"] {
      height: 40px !important;
  }
  
  .textModule a.collapsed:after  {
      content: '+ Show More';
  }
  
  .textModule a:not(.collapsed):after {
      content: '- Show Less';
  }

  .rowAlignRight{
    align-self: right;
  }
div2, span2 {
    border:1px solid red;
}